.home-container[data-v-310ecbc4] .van-tabbar-item__icon{width:18PX;height:20PX;-o-object-fit:contain;object-fit:contain}.home-container .order[data-v-310ecbc4]{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}
